@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Julius+Sans+One&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* define color scheme   */
  --prim-yellow: #fcd044;
  --white-yellow: #f4d458;
  --brown: #826302;
  --prim-green: #9cb474;
  --white-green: #c4d4a4;
  --grey: #bcbcbc;
  --black: #000;
  --white: #fff;

  /*Define font family */
  --casual-font: "Cinzel Decorative", cursive;
  --light-font: "Julius Sans One", sans-serif;
  --main-font: "Rubik", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.center {
  text-align: center;
}
.light {
  color: var(--white);
}

/* loader css  */
.loader {
  width: 100%;
  height: 100vh;
  background:#000 url(images/loader.gif) no-repeat center;
  background-size: 20%;
  position: fixed;
  z-index: 100;
}

.cursor {
  height: 25px;
  width: 25px;
  background-color: plum;
  position: fixed;
  border-radius: 50%;
  z-index: 10;
  mix-blend-mode: difference;
  pointer-events: none;
  color: red;
}

.page-heading {
  width: 100%;
  height: calc(100vh - 90px);
  position: relative;
  
}
.page-heading h1 {
  font-size: 6vw;
  font-family: var(--casual-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-heading .down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mouse-enter {
  width: auto;
  padding: 2px 10px;
  border-radius: 20px;
}

html,
body {
  
  font-family: var(--main-font);
}
.main {
  min-height: 100vh;
}

/* divider css  */

.v-divider {
  width: 1.5px;
  height: 100%;
  background-color: var(--black);
}
.h-divider {
  width: 100%;
  height: 1px;
  background-color: var(--black);
}

.connect-links a {
  width: 50px;
  height: 50px;
  border: 2px solid var(--grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: inherit;
}
.connect-links a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--brown);
  border-radius: 50%;
  z-index: -1;
  bottom: -100%;
  left: -100%;
  transition: 0.3s ease;
}
.connect-links a:hover::after {
  top: 0;
  left: 0;
}

.connect-links {
  display: flex;
  gap: 20px;
}

/* dot css  */
.dot {
  width: 3px;
  height: 3px;
  background-color: white;
  align-self: center;
  border-radius: 50%;
}
.dark {
  background-color: var(--black);
}

#landing-page {
  width: 100%;
  height: 100vh;
}

.nav-container {
  width: 100%;
  height: 90px;
}
.top-nav,
.bottom-nav {
  width: 100%;
}

/* top nav css  */

.top-nav {
  height: 60%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--white);
}
.top-nav ul {
  display: flex;
  gap: 10px;
}
.logo {
  width: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
}

button.book-now {
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  background-color: hsla(0, 0%, 28%, 0.787);
  color: #d1d1d1;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s ease-in;
}
button.book-now:hover i {
  transition: 0.3s ease-in-out;
  transform: translateX(3px);
}
button.book-now:hover {
  background-color: transparent;
  cursor: pointer;
  color: var(--white);
}
button.book-now i {
  margin-left: 5px;
  vertical-align: middle;
}

/* top nav css end  */

/* bottom css  */

.bottom-nav {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.bottom-nav ul.page-links {
  display: flex;
  gap: 10px;
  text-transform: uppercase;
}
.bottom-nav ul.social-links {
  display: flex;
  gap: 10px;
}
.bottom-nav ul.social-links li a {
  color: var(--black);
}

.social-links li i,
.page-links li {
  transition: 0.3s ease;
}

/* hover css  */

.social-links li i:hover,
.page-links li:hover {
  color: var(--brown);
  cursor: pointer;
}

/* hero container css  */

.hero-container {
  width: 100%;
  height: calc(100% - 90px);
  /* background-color: red; */
  position: relative;
}

.hero-container img {
  position: absolute;
  height: 200px;
  object-fit: cover;
}
.hero-container h1 {
  position: absolute;
  font-size: 4.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: var(--casual-font);
}

.hero-container .links {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10%;
}
.links {
  display: flex;
  align-items: center;
}
.links h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.links a {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  transition: 0.2s ease-in;
  position: relative;
  overflow: hidden;
}
.links a:hover {
  transform: rotate(-30deg);
}
.links a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--white-yellow);
  border-radius: 50%;
  z-index: -1;
  bottom: -100%;
  left: -100%;
  transition: 0.3s ease;
}
.links a:hover::after {
  top: 0;
  left: 0;
}
.hero-container #img-1 {
  top: 10%;
  width: 300px;
  height: 350px;
  left: 15%;
}

.hero-container #img-2 {
  top: 5%;
  width: 220px;
  height: 200px;
  right: 25%;
}

.hero-container #img-3 {
  bottom: 5%;
  width: 250px;
  height: 300px;
  right: 10%;
}

.light-links a {
  border: 2px solid var(--white);
  color: var(--white);
}
.light-links a:after {
  background-color: var(--brown);
}

#services {
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: 50px 50px 0 0;
}
.service-container {
  padding-top: 50px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.heading {
  padding-top: 50px;
  font-size: 4rem;
  font-weight: 700;
}
.description {
  color: var(--grey);
  padding: 20px 20% 0 20%;
}

.card-container {
  width: 260px;
  height: 350px;
  /* background-color: red; */
}

.card-container img {
  width: 100%;
  height: 83%;
  object-fit: cover;
  border-radius: 10px;

  background-color: green;
}
.card-container .links {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.service-container > .links {
  padding: 50px 0;
}

#our-design {
  width: 100%;
}

.img-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  height: auto;
  padding-top: 50px;
}
.img-gallery .img {
  width: 300px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
}
.img-gallery .img:hover img {
  transform: scale(1.2);
}
.img-gallery .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:all  0.5s ease;
  border-radius: 20px;
}

.center-link {
  width: fit-content;
  margin: 0 auto;
  padding: 50px 0;
}

.achievments {
  left: 50%;
  transform: translate(-50%,0);
  height: 500px;
  width: 98%;

  position: relative;
}

.achievments img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.achievments div {
  position: absolute;
  background-color: #826202b8;
  bottom: 0;
  width: 800px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(10px);
}

.achievments div h1 {
  font-size: 3rem;
}
.achievments div #customer-count {
  font-size: 4rem;
}

/* testmonials css  */

.testmonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 50px;
 
}

.testmonials h1 {
  margin-bottom: 50px;
}

#page-heading {
  width: 100%;
  height: calc(100% - 90px);
  position: relative;
  /* background-color: red; */
}
#page-heading h1 {
  font-size: 5rem;
  font-family: var(--casual-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburger {
  display: none;
}
#page-heading .down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-10%, -50%);
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-card {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d1d1d155;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  gap: 20px;
  padding: 20px;
  border: 1px solid #d1d1d1;
  transition: 0.3s ease-in;
}
.feed-card img {
  transition: 0.3s ease-in;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.feed-card p {
  text-align: center;
}

.feed-card:hover {
  border: 1px solid var(--prim-green);
  background-color: var(--white-green);
  transform: scale(1.06);
}
.feed-card:hover img {
  transform: scale(1.2);
}
.contact {
  width: 100%;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;

  gap: 30px;
}
.contact-container .contact-info {
  width: 50%;
  border-radius: 30px;
  background-color: var(--prim-green);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}
.contact-container .contact-info .contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.contact-info .contact-card:last-child ul {
  display: flex;
  gap: 10px;
}
.contact-info .contact-card:last-child ul li a i {
  font-size: 30px;
}
.contact-card i {
  font-size: 40px;
  color: var(--white-green);
}
.contact-card h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.contact-container iframe {
  width: 50%;
  border-radius: 20px;
}

.footer {
  width: 100%;
  background-color: var(--black);
}
.footer > a {
  display: flex;
}
.footer a img {
  margin: 0 auto;
  width: 350px;
  height: 200px;
  padding: 50px;
  object-fit: contain;
}
.footer .main-foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 100px;
  width: 100%;
  padding-bottom: 50px;
}
.main-foot ul li a {
  color: var(--white);
}
.main-foot > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  font-size: 17px;
}

.main-foot > ul:last-child ul {
  display: flex;
  gap: 10px;
}
.nav-link {
  color: black;
}


@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .logo {
    position: relative;
    transform: none;
    left: auto;
  }
  .top-nav {
    position: relative;
    z-index: 3;
    justify-content: space-between;
  }
  .top-nav .book-now {
    display: none;
  }
  .top-nav .top-left {
    display: none;
  }
  .bottom-nav .page-links {
    flex-direction: column;
    text-align: center;
  }

  .nav-link {
    color: white!important;
  }
  

  .bottom-nav .dot {
    display: none;
  }
  .bottom-nav {
    width: 100%;
    top: -60vh;
    height: 60vh;
    transition: 0.5s all ease;
    padding: 20px 50px;
    background-color: black;
    z-index: 2;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .bottom-nav .v-divider {
    display: none;
  }
  .h-divider {
    display: none;
  }
  .expanded {
    top: 0;
  }


   /* hero section  */
   .hero-container {
  /* background-color: red; */
  height: 100vh;
  top:-90px;
   }
   .hero-container img {
    display: none;
   }
   .hero-container #img-1 {
    display: block;
    width: 100%;
    left:0;
    top:0;
    height: 70vh;
    /* object-fit: cover; */
   }



   .page-heading h1 {
     width: 100%;
     text-align: center;
   }
   #landing-page .hero-container  h1 {
    transform: translate(0,0);
    top:80vh;
    left: 0;
    font-size: 8vw;
    text-align: center;
    
    width: 100vw;
   }
   .hero-container .links   {
      transform: none;
      top:82vh;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
   

    /* service section  */
    #services {
      border-radius: 0;
    }
   
    
   .heading {
    font-size: 10vw;
   }
   .description {
    padding-left: 20px;
    padding-right: 20px;
   
    font-size: 3vw;
   }
   .achievments .right {
    width: 100%;
    padding:20px;
   }
   .achievments .right h1 {
    font-size: 30px;
   }
   .achievments .right p  {
    font-size: 15px;
    text-align: center;
    padding: 0 20px;
   }

   .contact-container {
    flex-wrap: wrap;
    padding: 50px 10px;
   }
   .contact-container .contact-info {
    width: 100%;
    /* padding: 0 20px; */
   }
   .contact-container iframe {
    width: 100%;
   }
   .footer {
    width: 100%;
    
   }
   .main-foot {
    flex-wrap: wrap;
    gap:30px;
    
   }
   .nav-link {
    color: white;
    font-size: 6vw;
  }
   /* footer section  */
}
